#panelFondo {
    -fx-image: url("/Images/background-final.png");
}

#panelForm{
        -fx-padding: 40px;
        -fx-background-radius: 10px;
        -fx-border-radius: 10px;
        -fx-border-width: 5px;
        -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#iconoUsuario{
   -fx-image: url("/Images/user.png");
}

#iconoContra{
    -fx-image: url("/Images/lock.png");
}