#panelFondo {
    -fx-image: url("/Images/background-final.png");
}

#panelForm{
        -fx-padding: 40px;
        -fx-background-radius: 10px;
        -fx-border-radius: 10px;
        -fx-border-width: 5px;
        -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#iconoUsuario{
   -fx-image: url("/Images/user.png");
}

#iconoContra{
    -fx-image: url("/Images/lock.png");
}

#dropCascade{
    -fx-font-size: 14px;
     -fx-font-family: "Arial";
}

#iconoRegistro{
    -fx-image: url("/Images/registro.png");
}

.table-view {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #c7c7c7;
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}


.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #c7c7c7;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #c7c7c7;
}

.table-view .virtual-flow .scroll-bar .increment-button{
   -fx-opacity: -2;
   -fx-padding: 1;
}
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: -2;
    -fx-padding: 1;
}

.table-row-cell: hover {
    -fx-background-color: #c7c7c7;
}
.table-row-cell:selected {
    -fx-text-background-color: black;
    -fx-table-cell-border-color: #c7c7c7;
}